/* ==========================================================================
   Table of Contents
   ========================================================================== */


/*

    0.  Normalize
    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Tag Archive
    7.  Read Next
    8.  Third Party Elements
    9.  Pagination
    10. Footer
    11. Layout
    12. Widget
    13. Post Nav
    14. BackTop Button
    15. TOC
    16. Profile
    17. Media Queries (Tablet - Portrait)
    18. Media Queries (Tablet - Landscape)
    19. Media Queries (Mobile)
    20. Animations
    21. Static Page
    22. Highlight Code

/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */
.tinycalf p {
  font-size: 1.1rem;
  text-align: none;
}

.tinycalf h1, h2, h3, h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #2E2E2E;
    line-height: 1.15em;
    margin: 0 0 0.4em 0;
    font-weight: bold !important;
    font-family: "Microsoft Yahei", "Monaco", sans-serif;
    text-rendering: geometricPrecision;
}
.tinycalf h1 {
    font-size: 3.6rem;
    text-indent: -3px;
}
.tinycalf h2 {
    font-size: 3rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #EBF2F6;
}
.tinycalf h3 {
    font-size: 2.4rem;
}
.tinycalf h4 {
    font-size: 1.8rem;
}
.tinycalf h5 {
    font-size: 1.6rem !important;
}
.tinycalf h6 {
    font-size: 1.4rem !important;
}

.tinycalf blockquote {
    /*-moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 1.75em 0 1.75em -2.2em;*/
    padding: 15px 20px !important;
    color: #2E2E2E;
    font-style: none !important;
    font-size: 1.6rem !important;
    border-left: #4A4A4A 0.4em solid;
    background-color: rgba(102, 128, 153, 0.05);
    border-left: 5px solid rgba(102, 128, 153, 0.075) !important;
}
.tinycalf blockquote p{
  margin-bottom:0 !important;
  font-style: none !important;
}

.tinycalf blockquote small {
    /*display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    color: #CCC;*/
}
.tinycalf blockquote small:before {
    /*content: "\2014 \00A0";*/
}
.tinycalf blockquote cite {
    /*font-weight: 700;*/
}
.tinycalf blockquote cite a {
    /*font-weight: normal;*/
}
.tinycalf mark {
    background-color: #fdffb6;
}
